body {
    background-image: url('castelo\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  #logo {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    margin-top: 20px;
  }
  
  #centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  /* Configuração com fundo semi-transparente */
  #configuracao {
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7); /* Fundo branco com transparência */
    border-radius: 8px;
    margin-top: 20px;
  }
  
  #configuracao h2 {
    text-align: center;
  }
  
  /* Estilos para os inputs e botões dentro da configuração */
  #configuracao label, #configuracao select, #configuracao button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  #configuracao button {
    cursor: pointer;
  }

  #iniciarJogo {
    background-color: #4CAF50;
    color:white;
  }
  #iniciarJogo:hover {
    background-color: #45a049;
  }

 /* Área de Comandos no canto superior esquerdo */
#comandos {
    position: fixed;
    top: 20px;
    left: 20px;  /* Coloca no canto superior esquerdo */
    background-color: rgba(255, 255, 255, 0.7); /* Fundo branco com transparência */
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  
  #comandos h2 {
    text-align: center;
    width: 100px;
  }
  
  #comandos button {
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  #comandos button:hover {
    background-color: rgba(200, 200, 200, 0.7); /* Fundo semi-transparente ao passar o mouse */
  }
/* Área de Identificação no canto superior direito */
#identificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Fundo semi-transparente */
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre os elementos */
  }
  
  /* Estilos dos campos de entrada */
  #identificacao input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  #utilizador {
    width: 120px; /* Largura para o campo "Utilizador" */
  }
  
  #password {
    width: 120px; /* Largura para o campo "Palavra-passe" */
  }
  
  /* Estilo do botão "Entrar" */
  #entrar {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  #entrar:hover {
    background-color: #45a049;
  }
  